body {
  width: 100%;
  height: 100vh;
  perspective: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  background-image: url('simpsons-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.front {
  background: url('homer-birthday.png') no-repeat center darkred;
  background-size: cover;
}

.card {
  transform-style: preserve-3d;
  position: relative;
  height: 300px;
  width: 240px;
  cursor: pointer;
}

.front, .back, .page {
  transform-style: preserve-3d;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .5s ease-in-out;
  position: absolute;
  width: 180px;
  height: 100%;
  top: 0; 
  left: 0;
  background-color: #F7F7F7;
  padding: 60px;
}

.card:hover .front {
  transform: rotateY(-160deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.card:hover .page {
  transform: rotateY(-159deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.card:hover .back {
  transform: rotateY(-20deg);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.message {
  margin-top: 30px;
  color: #900909;
}
h5 {
  font-family: 'Cookie', serif;
  font-size: 20px;
}
p {
   font-size: 20px;
}